APP_NAME=older-fall
ENVIRONMENT=dev
LOG_LEVEL=INFO
APP_RUNTIME_MODE=local

MODEL_CONFIDENCE_THRESHOLD=0.65

WEBCAM_PREVIEW_ENABLED=true
WEBCAM_INDEX=0,1,2

WEBCAM_WINDOW_NAME=older-fall webcam
WEBCAM_FLIP_HORIZONTAL=true

YOLO_MODEL_PATH=yolov8s-pose.pt

FRAME_INTERVAL=10