YOLO_POSE_MODEL=yolo26s-pose

# Fonte de vídeo
CAPTURE_SOURCE=0

# Exibir vídeo de callback em debug
SHOW_VIDEO=true

# Taxa de captura de frames
FRAME_RATE=12

# Tamanho da janela deslizante de processamento
SLIDE_WINDOW=30